html,body{
    padding: 0;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

button{
    align-self: center;
    padding: 0.5rem;
    margin-top: 3rem;
    transition: 0.5s;
}

button:hover{
    background-color: orangered;
    border: none;
    transform: scale(1.1);
    color: white;
}

.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div{
    height: 20px;
    width: 20px;
    background-color: grey;
    transition: 0.1s;
}

.container{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.hovered{
    background-color: purple;
}